Repository 47degrees/github4s, pull requests merged in 2020-04, with the labels that each got.

#403 Update sbt to 1.3.9
  project/build.properties
Labels: auto-update

#398 Update actions, documentation templates and configuration files to v0.2.3
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
  .github/workflows/scalasteward-auto-approve.yml
  .gitignore
  .mergify.yml
Labels: auto-update

#404 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#406 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#407 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#408 Update actions, documentation templates and configuration files to v0.3.1
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
  .mergify.yml
Labels: auto-update

#409 Update actions, documentation templates and configuration files to v0.3.2
  .mergify.yml
Labels: auto-update

#410 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#411 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#412 Update actions, documentation templates and configuration files to v0.3.3
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
Labels: auto-update

#413 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#414 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#415 Update http4s-blaze-client, http4s-circe to 0.21.3
  CHANGELOG.md
  project/ProjectPlugin.scala
Labels: auto-update

#416 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#417 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#418 Update actions, documentation templates and configuration files to v0.4.0
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: auto-update

#419 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#420 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#421 Unseal GithubAPIs and make it part of the algebra [fixes #392]
  github4s/src/main/scala/github4s/Github.scala
  github4s/src/main/scala/github4s/algebras/GithubAPIs.scala
  github4s/src/main/scala/github4s/modules/GithubAPIs.scala
Labels: breaking-change

#422 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#423 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#425 Update actions, documentation templates and configuration files to v0.4.1
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: auto-update

#431 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#432 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#433 Update actions, documentation templates and configuration files to v0.5.0
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .mergify.yml
Labels: auto-update

#434 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#435 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#439 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#445 Update sbt-scalafmt to 2.3.3
  project/plugins.sbt
Labels: scala-steward

#446 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#448 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#452 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#454 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#458 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#460 Update documentation and other files
  AUTHORS.md
Labels: auto-documentation

#440 Error refactor
  docs/docs/docs.md
  docs/docs/issue.md
  github4s/src/main/scala/github4s/GHError.scala
  github4s/src/main/scala/github4s/GHResponse.scala
  github4s/src/main/scala/github4s/algebras/Activities.scala
  github4s/src/main/scala/github4s/algebras/Auth.scala
  github4s/src/main/scala/github4s/algebras/Gists.scala
  github4s/src/main/scala/github4s/algebras/GitData.scala
  github4s/src/main/scala/github4s/algebras/Issues.scala
  github4s/src/main/scala/github4s/algebras/Organizations.scala
  github4s/src/main/scala/github4s/algebras/Projects.scala
  github4s/src/main/scala/github4s/algebras/PullRequests.scala
  github4s/src/main/scala/github4s/algebras/Repositories.scala
  github4s/src/main/scala/github4s/algebras/Teams.scala
  github4s/src/main/scala/github4s/algebras/Users.scala
  github4s/src/main/scala/github4s/http/HttpClient.scala
  github4s/src/main/scala/github4s/interpreters/ActivitiesInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/AuthInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/GistsInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/GitDataInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/IssuesInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/OrganizationsInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/ProjectsInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/PullRequestsInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/RepositoriesInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/TeamsInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/UsersInterpreter.scala
  github4s/src/test/scala/github4s/http/HttpClientSpec.scala
  github4s/src/test/scala/github4s/integration/ActivitiesSpec.scala
  github4s/src/test/scala/github4s/integration/AuthSpec.scala
  github4s/src/test/scala/github4s/integration/GitDataSpec.scala
  github4s/src/test/scala/github4s/integration/IssuesSpec.scala
  github4s/src/test/scala/github4s/integration/OrganizationsSpec.scala
  github4s/src/test/scala/github4s/integration/ProjectsSpec.scala
  github4s/src/test/scala/github4s/integration/PullRequestsSpec.scala
  github4s/src/test/scala/github4s/integration/ReposSpec.scala
  github4s/src/test/scala/github4s/integration/TeamsSpec.scala
  github4s/src/test/scala/github4s/integration/UsersSpec.scala
  github4s/src/test/scala/github4s/unit/ActivitiesSpec.scala
  github4s/src/test/scala/github4s/unit/AuthSpec.scala
  github4s/src/test/scala/github4s/unit/GistSpec.scala
  github4s/src/test/scala/github4s/unit/GitDataSpec.scala
  github4s/src/test/scala/github4s/unit/IssuesSpec.scala
  github4s/src/test/scala/github4s/unit/OrganizationsSpec.scala
  github4s/src/test/scala/github4s/unit/ProjectSpec.scala
  github4s/src/test/scala/github4s/unit/PullRequestsSpec.scala
  github4s/src/test/scala/github4s/unit/ReposSpec.scala
  github4s/src/test/scala/github4s/unit/TeamsSpec.scala
  github4s/src/test/scala/github4s/unit/UserSpec.scala
  github4s/src/test/scala/github4s/utils/BaseIntegrationSpec.scala
  github4s/src/test/scala/github4s/utils/BaseSpec.scala
Labels: breaking-change

#465 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#464 Update documentation and other files
  github4s/src/main/scala/github4s/GHError.scala
  github4s/src/test/scala/github4s/http/HttpClientSpec.scala
Labels: auto-documentation

#466 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#467 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#443 Uniformize pagination usage
  docs/docs/git_data.md
  docs/docs/issue.md
  docs/docs/repository.md
  docs/docs/user.md
  github4s/src/main/scala/github4s/algebras/GitData.scala
  github4s/src/main/scala/github4s/algebras/Issues.scala
  github4s/src/main/scala/github4s/algebras/Repositories.scala
  github4s/src/main/scala/github4s/algebras/Users.scala
  github4s/src/main/scala/github4s/interpreters/GitDataInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/IssuesInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/RepositoriesInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/UsersInterpreter.scala
  github4s/src/test/scala/github4s/integration/GitDataSpec.scala
  github4s/src/test/scala/github4s/integration/IssuesSpec.scala
  github4s/src/test/scala/github4s/integration/UsersSpec.scala
  github4s/src/test/scala/github4s/unit/GitDataSpec.scala
  github4s/src/test/scala/github4s/unit/IssuesSpec.scala
  github4s/src/test/scala/github4s/unit/ReposSpec.scala
  github4s/src/test/scala/github4s/unit/UserSpec.scala
Labels: breaking-change

#462 Remove default parameters from interpreters
  github4s/src/main/scala/github4s/algebras/Repositories.scala
  github4s/src/main/scala/github4s/interpreters/ActivitiesInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/AuthInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/GistsInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/GitDataInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/IssuesInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/OrganizationsInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/ProjectsInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/PullRequestsInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/RepositoriesInterpreter.scala
  github4s/src/main/scala/github4s/interpreters/UsersInterpreter.scala
  github4s/src/test/scala/github4s/unit/ReposSpec.scala
Labels: breaking-change

#468 Update sbt to 1.3.10
  project/build.properties
Labels: scala-steward

#469 Update documentation and other files
  AUTHORS.md
Labels: auto-documentation

#470 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#475 Update documentation and other files
  README.md
Labels: auto-documentation

#476 Update documentation and other files
  README.md
Labels: auto-documentation

#477 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#482 Update sbt-microsites to 1.2.0
  project/plugins.sbt
Labels: scala-steward

#483 Update sbt-ci-release to 1.5.3
  project/plugins.sbt
Labels: scala-steward

#486 Update http4s-blaze-client, http4s-circe to 0.21.4
  project/ProjectPlugin.scala
Labels: scala-steward
